.red {
    color: red;
}

.gototopbtn
{
  color: rgb(255, 0,  );
  opacity: 0;
  font-size: 32px;
  transition: opacity 1s;
}

.gototopbtn.show {
  opacity: 1;
}

.gototopcontainer
{
  position: fixed;
  top: 8.5%;
  left: 50%;
  height: 30px;
  width: 30px;
}

#navigation-container {
  display: flex;

  background-color: #692a5c;
  padding: 0 20px;
}

.navigation-item {
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: auto;
  font-size: 20px;
}

.navigation-item:hover
{
  background-color: rgb(39, 175, 22);
}

.flex
{
  display: flex;
}

.flex2
{
  display: flex 
}